/*TITULO DA PAGINA*/
.Titulo {
    text-align: center;
    padding: 50px 20px;
    background: #cfcfcf;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;

}



.Titulo h1 {
    font-size: 40px;
}

/*TEXTO DA CAIXA DE QUEM SOMOS*/
.quemsomos-container img{
    display: flex;
    border-radius: 60px;
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 30px -7px rgb(0, 0, 0);
}
.quemsomos-text{
    width: 70%;
    height: 70%;
    margin-left:27% ;
    border: solid #1C1C1C;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px -7px rgb(0, 0, 0);
    padding: 20px;
}

/*3 CAIXAS DE INFORMAÇÃO*/
.container-box{
    display: flex;
    gap: 5%;
    margin-right: 7%;
    margin-left: 7%;
    
}
.container-box div{
    background-color: #e9e9e8;
    max-width: 310px;
    padding-left: 10px;
    border-radius: 60px;
    padding: 70px;
}

/*CAIXA DE FAZER ORÇAMENTO*/
.fazer-orçamento{
    background-color:#ffffff; 
    box-shadow: 0px 0px 30px -7px rgb(0, 0, 0);
    padding: 70px;
    border-radius: 20px;
    
}

.fazer-orçamento a{
    background-color: white;
    color:black ;
    border-radius: 10px;
    padding: 7px;
    margin-left: 45%;
    text-decoration: none;
}
.fazer-orçamento a:hover{
    background-color: #1C1C1C;
    color: #C7A17A;
}

.fazer-orçamento p{
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width:767px){

  /* TÍTULO */
  .Titulo {
    padding: 30px 15px;
  }

  .Titulo h1 {
    font-size: 28px;
  }


  
  .quemsomos-container img {
    width: 90%;
    height: auto;
    border-radius: 20px;
  }

  .quemsomos-text {
    width: 90%;
    height: auto;
    margin: 20px auto;
    padding: 15px;
    border-radius: 15px;
  }


  
  .container-box {
    flex-direction: column;
    gap: 25px;
    margin: 0 20px;
  }

  .container-box div {
    max-width: 100%;
    padding: 40px 30px;
    border-radius: 25px;
    text-align: center;
  }


  /* CAIXA DE FAZER ORÇAMENTO */
  .fazer-orçamento {
    padding: 40px 20px;
    margin: 20px;
    border-radius: 15px;
  }

  .fazer-orçamento p {
    font-size: 18px;
  }

  .fazer-orçamento a {
    display: block;
    text-align: center;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 16px;
  }
}