body {
font-family: Arial, sans-serif;
margin: 0;
padding: 40px;
background: #f7f7f7;
line-height: 1.6;
}
.container {
max-width: 900px;
margin: auto;
background: white;
padding: 30px;
border-radius: 10px;
}

@media screen and (max-width:767px){
body {
    padding: 15px; 
}

.container {
    padding: 20px; 
    border-radius: 8px;
}
}