body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 90px;
  margin-top: 0;
  margin-bottom: 0;
}


/*HEADER*/
nav {
  background-color: #f7f4f4;
  display: flex;
  border-radius: 70px 70px 70px 70px;
  box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: space-between;


}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
  padding: 20px;
}

li a {
  text-decoration: none;
  padding: 17px 10px;
  color: #1C1C1C;
}

nav ul li {
  display: block;
}



li a:hover {
  background-color: #1C1C1C;
  color: #C7A17A;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0px 0px 30px -7px rgb(155, 140, 140);
}

.Logo {
  padding: 10px;
  width: 100px;
}




.Logo2 {
  height: auto;
  width: 150px;
  object-fit: contain;
}

/*FOOTER*/
.footer-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0px;
  padding: 20px;
  color: #030303;
  box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.5);
  border-radius: 50px 50px 50px 50px;
}

.coluna {
  display: flex;
  flex-direction: column;
  width: 200px;
}



p a {
  text-decoration: none;
  color: black;
}

p a:hover {
  color: #C7A17A;
  background-color: black;
  border-radius: 50px 50px 50px 50px;
  padding: 6px;
}
/*FOOTER*/
@media screen and (max-width:767px) {

  nav {
    flex-direction: column;
    padding: 10px;
    border-radius: 30px;

  }

  nav ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
  }

  nav ul li a{
    padding: 12px 15px;
    display: block;
  }

  .Logo, .Logo2 {
    width: 120px;
    margin-bottom: 10px;
}



/* FOOTER */
.footer-container {
  flex-direction: column;
  text-align: center;
  gap: 25px;
  padding: 25px;
  border-radius: 30px;
}

.coluna {
  width: 100%;
  align-items: center;
}

p a {
  font-size: 16px;
}

}